<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookRegistration</servlet-name>
        <servlet-class>BookRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSRegistration</servlet-name>
        <servlet-class>BookSRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookRegistration</servlet-name>
        <url-pattern>/BookRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSRegistration</servlet-name>
        <url-pattern>/BookSRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
